body {
  padding-top: 5px;
  padding-bottom: 40px;
}

div.hero-unit {
  float: left;
}

div#hero-pic {
  float: left;
  width: 774px;
  height: 300px;
  background: url("/imgs/pics/keoghs.jpg") #fff no-repeat;
}

div.header-logo {
  background: url("/imgs/pics/logo.jpg") #fff no-repeat;
  width: 200px;
  height: 178px;
  padding-bottom: 5px;
  margin-left: 5px;
}